<! DOCTYPE html>

<html>
    <head>
        <meta charset="utr-8">
        <title>Project page</title>
    </head>    
    <body>
        <h1>Look at me!</h1>
        <p>
            The is a new project page...
        </p>
    </body>
</html>
    